<% include ./partials/navbar%>
<div class='container'>


    <div class='row'>
        
        <div class='col-sm-4'>

             <p class='lead'>Hello, <%=user.name.toUpperCase()%></p> 
            <form action ='/user/<%=user.id%>/enter' method='POST'>
                <button class='btn btn-success' type="submit">Check IN</button>   
            </form> 
            <br><br>
                <a href="/" class='btn btn-primary'>
                    <span class='glyphicon glyphicon-chevron-left'></span> BACK
                </a>

                <a href = '/user/<%=user._id%>/exit' class='btn btn-warning'>Proceed to CheckOut</a>
            
        </div>
        <div class='col-sm-8'>
            <div class='row text-center'>
                <p class='lead'>Overview</p>
            
                    <p>Total work Hours :<%=hours%> Hours</p>
               
                <table class='table table-bordered table-hover table-striped table-responsive table-condensed'>
                    <thead>
                        <th>Date</th>
                        <th>Entry time</th>
                        <th>Exit time</th>
                        <th>Exit reason</th>
                    </thead>
                    <tbody>
                    <%user.attendance.forEach(a=>{%>
                       <tr>
                        <td><%=a.date.toDateString()%></td>
                        <td><%=moment(a.entry).format('HH:mm:ss')%></td>
                        <td>
                            <%if(a.exit.time){%>
                               <%=moment(a.exit.time).format('HH:mm:ss')%> 
                            <%}%>
                        </td>
                        <td>
                        <% if (a.exit.reason === 1){%>
                            General
                        <%}else if (a.exit.reason === 2){%>
                            Vacation
                        <%}else if(a.exit.reason === 3){%>
                            Doctor
                        <%}%>


</td>
                       </tr> 
                    <%})%>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    

   
</div>
<% include ./partials/footer%>